.signup {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.signup__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
}

.signup__button {
    margin-top: 16px;
}
