:host {
    height: 40px;
}

.logo {
    display: inline-block;
    width: 282px;
    height: 40px;
}

.logo__image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1199px) {
    .logo {
        width: 240px;
        height: 34px;
    }
}
