.order {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 86px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    transition: all 0.5s;
}

@media screen and (max-width: 767px) {
    .order {
        max-height: 164px;
    }
}

.order_extended {
    max-height: var(--order-extended-height);
}

@media screen and (max-width: 767px) {
    .order_extended {
        max-height: calc(var(--order-extended-height) + 50px);
    }
}

.block {
    padding: 20px 30px;
}

@media screen and (max-width: 565px) {
    .block {
        padding: 16px 20px;
    }
}

.block:not(:first-child) {
    border-top: 1px solid var(--border-color);
}

.order__header {
    display: flex;
    flex-shrink: 0;
    gap: 16px;
    justify-content: space-between;
    height: 84px;
    cursor: pointer;
}

.header__info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}

.info__top-text {
    display: flex;
    gap: 6px;
    align-items: center;
}

.info__id {
    display: block;
    width: 100px;
    font-size: 18px;
}

.info__date {
    width: 162px;
    font-size: 14px;
}

.info__status {
    font-size: 18px;
    color: var(--gray-text-color);
}

.header__price,
.header__price_mobile {
    display: flex;
    flex-shrink: 0;
    gap: 6px;
    align-items: center;
    justify-content: flex-end;
    width: 104px;
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    .header__price {
        display: none;
    }

    .header__price_mobile {
        justify-content: flex-start;
    }
}

.price-currency {
    font-size: 12px;
    opacity: 0.5;
}

.header__products-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 310px - 32px - 36px);
    max-width: 50%;
}

@media screen and (max-width: 767px) {
    .header__products-wrapper {
        width: 20px;
    }
}

.product-wrapper__images,
.product-wrapper__images_mobile {
    display: flex;
    gap: 20px;
    width: calc(100% - 40px);
    overflow-x: auto;
    transition: all 0.3s;
}

@media screen and (max-width: 767px) {
    .product-wrapper__images {
        display: none;
    }

    .product-wrapper__images_mobile {
        width: 100%;
    }
}

.order_extended .product-wrapper__images {
    opacity: 0;
}

.images__item {
    height: 60px;
}

.header__chevron {
    transition: transform 0.3s;
}

.chevron_extanded {
    transform: rotate(180deg);
}

.order__extra-header {
    display: none;
}

@media screen and (max-width: 767px) {
    .order__extra-header {
        display: flex;
        gap: 16px;
        padding: 0 20px 16px;
    }
}

.order__products-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 565px) {
    .order__products-wrapper {
        padding: 16px 12px;
    }
}

.order__delivery {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delivery__invoice {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.order__payment {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.payment__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment__row:last-child {
    margin-top: 12px;
}

.payment__total {
    font-size: 18px;
    font-weight: 700;
}