.login {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
}

.login__actions {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-button {
    margin-top: 12px;
}