.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.layout__header {
    flex-shrink: 0;
    flex-basis: var(--header-height);
}

.layout__main {
    flex-grow: 1;
}

.layout__footer {
    flex-shrink: 0;
    flex-basis: var(--footer-height);
}

.layout__mobile-menu {
    display: none;
}

@media screen and (max-width: 767px) {
    .layout__mobile-menu {
        display: block;
    }

    .layout__footer {
        padding-bottom: var(--mobile-menu-height);
    }
}