.menu {
    position: sticky;
    top: 120px;
    width: 300px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    border-radius: 16px;
}

@media screen and (max-width: 1199px) {
    .menu {
        width: 250px;
    }
}

@media screen and (max-width: 991px) {
    .menu {
        position: fixed;
        top: 40%;
        left: 50%;
        z-index: var(--z-index-popup);
        width: 300px;
        min-height: auto;
        pointer-events: none;
        background-color: var(--background-color);
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: right 0.3s, opacity 0.5s;
    }

    .menu_visible {
        pointer-events: all;
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .menu {
        top: 0;
        right: 100%;
        left: auto;
        width: 100%;
        height: 100dvh;
        border: 0;
        border-radius: 0;
        transform: none;
    }

    .menu_visible {
        right: 0;
    }
}

.menu-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-popup);
    width: 100vw;
    height: 100dvh;
    pointer-events: none;
    background-color: var(--shadow-color-1);
    opacity: 0;
    transition: all 0.3s;
}

@media screen and (max-width: 991px) {
    .menu-background_visible {
        pointer-events: all;
        opacity: 1;
    }
}

.menu__item.close-button-wrapper {
    display: none;
}

@media screen and (max-width: 991px) {
    .menu__item.close-button-wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 10px 16px;
    }
}

:host ::ng-deep .close-button .button {
    font-size: 28px !important;
}

.menu__item {
    position: relative;
    display: flex;
    gap: 12px;
    padding: 16px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu__item:hover {
    background-color: var(--background-hover-color);
}

.menu__item:not(:last-child) {
    border-bottom: 1px solid var(--primary-color);
}

.menu__item_selected {
    padding-left: 24px;
    color: var(--primary-color);
}

.menu__item_selected::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 4px;
    height: 30px;
    content: "";
    background-color: var(--primary-color);
    border-radius: 0 4px 4px 0;
    transform: translateY(-50%);
}

.menu-open-button {
    display: none;
    font-size: 20px;
}

@media screen and (max-width: 991px) {
    .menu-open-button {
        display: block;
    }
}
