.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .tags {
        gap: 6px;
    }    
}

.tag {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 10px 18px;
    color: var(--secondary-text-color);
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 20px;
    transition: background-color 0.3s;
}

@media screen and (max-width: 1199px) {
    .tag {
        height: 34px;
        padding: 10px 12px;
    }
}

.tag:has(.tag__button:hover) {
    background-color: var(--primary-hover-color);
}

.tag__button {
    width: 16px;
    aspect-ratio: 1;
    color: var(--secondary-text-color);
    background-color: transparent;
    border: none;
    border-radius: 50%;
}
