.chips {
    display: flex;
    gap: 8px;
    align-items: center;
}

.chip {
    display: inline-block;
    font-size: 16px;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 0.1s;
}

.chip:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.chip_main {
    display: inline-flex;
    gap: 6px;
    align-items: center;
}

.chips__divider {
    font-size: 12px;
    color: var(--gray-text-color);
}