.categories {
    display: grid;
    grid-template-columns: repeat(
        3,
        minmax(180px, min(calc((100% - 5% * 2) / 3), 230px))
    );
    row-gap: 20px;
    column-gap: 5%;
    justify-content: center;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .categories {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        max-width: 600px;
    }
}

.category {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 12px 30px;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    transition: box-shadow 0.3s;
}

.category_mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .category {
        display: none;
    }

    .category_mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 240px;
        height: 40px;
        padding: 0 12px;
        cursor: pointer;
        background-color: var(--secondary-background-color);
        border: 1px solid var(--border-color);
        border-radius: 12px;
    }
}

@media screen and (max-width: 565px) {
    .category_mobile {
        width: 200px;
    }
}

.category:hover {
    box-shadow: 0 0 16px 8px var(--shadow-color-1);
}

.category__subcategories {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 12px;
    overflow: hidden;
    background-color: var(--background-color);
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s;
}

.category:hover .category__subcategories {
    opacity: 1;
}

.subcategories__subcategory-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    height: calc(100% - 100px);
    padding: 10px;
}

@media screen and (max-width: 991px) {
    .subcategories__subcategory-list {
        height: calc(100% - 60px);
    }
}

.subcategories__all-button {
    width: 100%;
    height: 100px;
    padding: 20px 30px 40px;
    background-color: var(--background-color);
}

@media screen and (max-width: 1199px) {
    .subcategories__all-button {
        padding-bottom: 46px;
    }
}

@media screen and (max-width: 991px) {
    .subcategories__all-button {
        height: 60px;
        padding: 12px 0 16px;
    }
}

@media screen and (max-width: 767px) {
    .subcategories__all-button {
        height: 40px;
        padding: 0;
        background-color: transparent;
    }
}

.category__image {
    width: 80%;
    border-radius: 20px;
}

.category__title {
    display: flex;
    align-items: center;
    height: 90px;
}

:host ::ng-deep .category__title h3 {
    font-weight: 700;
}

/* .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 40px;
    padding: 0 12px;
    background-color: var(--secondary-background-color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
}

.category__image {
    width: 40px;
    height: 30px;
    background-image: url("/assets/product.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.subcategories__all-button {
    pointer-events: none;
} */
