:host {
    width: 100%;
    max-width: 900px;
}

.vin {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.vin__row {
    display: flex;
    gap: 20px;
}

.vin__confirm-button {
    margin: 0 auto;
}
