.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-background-color);
}

.auth__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 600px;
    padding: 32px;
    background-color: var(--background-color);
    border-radius: 24px;
}

.auth__content {
    width: 400px;
}

@media screen and (max-width: 767px) {
    .auth__card {
        width: 80%;
    }

    .auth__content {
        width: 100%;
    }
}

@media screen and (max-width: 565px) {
    .auth__card {
        padding: 32px 16px;
    }
}