.gallery {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gallery__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.gallery__select {
    width: 320px;
}

.gallery__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.gallery__item {
    display: flex;
    gap: 12px;
    align-items: center;
}

.item__arrows {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item__card {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
    height: 160px;
    padding: 8px 16px 8px 8px;
    border: 2px solid var(--primary-color);
    border-radius: 16px;
}

.item__image {
    width: 190px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.item__info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    padding-top: 12px;
}

.info__header {
    display: flex;
    gap: 12px;
    align-items: center;
}

.info__title {
    font-weight: 600;
    color: var(--text-color);
}

.info__status {
    font-size: 14px;
    color: var(--gray-text-color);
}

.info__description {
    max-height: 90px;
    overflow: auto;
}

.item__actions {
    display: flex;
    flex-shrink: 0;
    gap: 4px;
    align-items: center;
}

.gallery__popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.popup__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color-1);
}

.popup__card {
    position: absolute;
    top: calc(50% + var(--header-height) / 2);
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 80%;
    min-width: 600px;
    height: 678px;
    max-height: calc(100vh - var(--header-height) - 12px);
    padding: 16px 32px;
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    border-radius: 16px;
    box-shadow: 0 0 16px 4px var(--shadow-color-1);
    transform: translate(-50%, -50%);
}

.popup__cross {
    position: absolute;
    top: 12px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: var(--secondary-text-color);
    cursor: pointer;
    background-color: var(--gray-text-color);
    border-radius: 50%;
}

.popup__title {
    text-align: center;
}

.popup__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 8px;
    overflow: auto;
}

.popup__image {
    position: relative;
    flex-grow: 1;
    min-height: 160px;
    padding: 4px;
    border: 2px dashed var(--primary-color);
    border-radius: 16px;
}

.image__input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    appearance: none;
    cursor: pointer;
    opacity: 0;
}

.image__preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.image__placeholder {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.placeholder__icon {
    font-size: 64px;
    color: var(--primary-color);
}

.placeholder__text {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.popup__button {
    flex-shrink: 0;
}