.mobile-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-index-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--mobile-menu-height);
    padding: 0 30px;
    background-color: var(--background-color);
    border-top: 1px solid var(--primary-color);
}

.mobile-menu__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    font-size: 14px;
    color: var(--primary-color);
    text-align: center;
    cursor: pointer;
}

.item__icon {
    font-size: 20px;
}

.item__name_small-vin {
    display: none;
}

@media screen and (max-width: 565px) {
    .item__name_small-vin {
        display: block;
    }

    .item__name_vin {
        display: none;
    }
}

.item__badge {
    position: absolute;
    top: 4px;
    right: calc(50% - 9px - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    height: 18px;
    padding: 0 4px;
    font-size: 11px;
    font-weight: 600;
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
    border: 2px solid var(--background-color);
    border-radius: 9px;
}
