.config {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.config__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.config__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 16px;
    border: 2px solid var(--primary-color);
    border-radius: 24px;
}

.config__item-name {
    flex-grow: 1;
}

.config__item-value {
    width: 300px;
    text-align: center;
}

.config__item-control {
    display: flex;
    justify-content: flex-end;
    width: 100px;
}

.config__popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.popup__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color-1);
}

.popup__card {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 360px;
    max-width: 90%;
    height: 160px;
    padding: 16px;
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    border-radius: 16px;
    box-shadow: 0 0 16px 4px var(--shadow-color-1);
    transform: translate(-50%, -50%);
}

.card__confirm-message {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.card__actions {
    display: flex;
    flex-shrink: 0;
    gap: 16px;
    align-items: center;
}

.hidden {
    display: none;
}

.config__row {
    display: flex;
    gap: 16px;
}

.config-row_materials {
    margin-top: 16px;
    margin-bottom: -16px;
}

.config-row__item {
    width: 100%;
}

.config-item-nova .config__item-value {
    width: 400px;
    text-align: left;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
    max-height: 40px;
}

:host ::ng-deep .mdc-notched-outline .mdc-notched-outline__notch {
    border-top: 1px solid;
    border-left: none !important;
}

:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
    border-color: var(--primary-color) !important;
}

:host ::ng-deep .mat-mdc-notch-piece.mdc-notched-outline__leading {
    width: 20px !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

:host ::ng-deep .mat-mdc-notch-piece.mdc-notched-outline__trailing {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--focused .mdc-floating-label {
    margin-top: -1px;
    color: var(--primary-text-color) !important;
}

:host ::ng-deep .mat-mdc-floating-label {
    transform: translateY(-3.5em) !important;
}

:host ::ng-deep .mat-mdc-form-field-infix {
    min-height: 40px;
    padding: 8px 0 !important;
}

:host ::ng-deep .mat-mdc-input-element::placeholder {
    color: var(--gray-text-color) !important;
    opacity: 1 !important;
}

:host ::ng-deep .mat-mdc-input-element:disabled::placeholder {
    filter: brightness(1.4);
}