:host {
    display: inline-block;
    width: max-content;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button_size_small {
    gap: 6px;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 20px;
}

.button_size_large {
    gap: 10px;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
}

:host:has(.button_size_small) {
    height: 40px;
}

:host:has(.button_size_large) {
    height: 44px;
}

@media screen and (max-width: 1199px) {
    .button_size_small {
        gap: 6px;
        padding: 10px 12px;
        font-size: 14px;
        border-radius: 18px;
    }

    .button_size_large {
        gap: 10px;
        padding: 12px 24px;
        border-radius: 22px;
    }

    :host:has(.button_size_small) {
        height: 34px;
    }

    :host:has(.button_size_large) {
        height: 40px;
    }
}

@media screen and (max-width: 565px) {
    .button_size_large {
        padding: 12px 16px;
    }

    :host:has(.button_size_large) {
        height: 36px;
    }
}

:host:has(.button_width_full) {
    width: 100%;
}

.button_with_icon:not(.button_with_label) {
    aspect-ratio: 1;
    padding: 0;
    font-size: 26px;
    border-radius: 50%;
}

:host:has(.button_with_icon:not(.button_with_label)) {
    width: 40px;
}

@media screen and (max-width: 1199px) {
    .button_with_icon:not(.button_with_label) {
        font-size: 22px;
    }
}

.button__icon-wrapper {
    line-height: 1;
}

.button_type_primary {
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
}

.button_type_primary:not(.button_disabled):hover {
    background-color: var(--primary-hover-color);
}

.button_type_primary-line {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.button_type_primary-line:not(.button_disabled):hover {
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
}

.button_type_primary-clear {
    color: var(--primary-color);
}

.button_type_primary-clear:not(.button_disabled):hover {
    color: var(--primary-hover-color);
}

.button_type_white-icon {
    color: var(--secondary-text-color);
    background-color: transparent;
}

.button_with_icon:not(.button_with_label):has(i.custom-category) {
    --custom-category-size: 5px;
}

.button_size_small:has(i.custom-category) {
    --custom-category-size: 3.5px;
}

.button__icon-wrapper:has(i.custom-category) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.button_type_primary-clear:has(i.custom-category) {
    --custom-category-color: var(--primary-color);
}

.button_type_primary-clear:has(i.custom-category):not(.button_disabled):hover {
    --custom-category-color: var(--primary-hover-color);
}

.button_type_primary:has(i.custom-category) {
    --custom-category-color: var(--secondary-text-color);
}

i.custom-category {
    width: var(--custom-category-size);
    height: var(--custom-category-size);
    background-color: var(--custom-category-color);
    border-radius: 40%;
    box-shadow: calc(var(--custom-category-size) * 1.65) 0 0 0
            var(--custom-category-color),
        calc(var(--custom-category-size) * -1.65) 0 0 0
            var(--custom-category-color),
        0 calc(var(--custom-category-size) * 1.65) 0 0
            var(--custom-category-color),
        calc(var(--custom-category-size) * 1.65)
            calc(var(--custom-category-size) * 1.65) 0 0
            var(--custom-category-color),
        calc(var(--custom-category-size) * -1.65)
            calc(var(--custom-category-size) * 1.65) 0 0
            var(--custom-category-color),
        0 calc(var(--custom-category-size) * -1.65) 0 0
            var(--custom-category-color),
        calc(var(--custom-category-size) * 1.65)
            calc(var(--custom-category-size) * -1.65) 0 0
            var(--custom-category-color),
        calc(var(--custom-category-size) * -1.65)
            calc(var(--custom-category-size) * -1.65) 0 0
            var(--custom-category-color);
    transition: box-shadow 0.3s;
}

.button_disabled {
    cursor: default;
}

.button_type_primary.button_disabled {
    color: var(--disabled-background-color);
    background-color: var(--disabled-text-color);
}

.button_type_primary-line.button_disabled {
    color: var(--disabled-text-color);
    background-color: var(--disabled-background-color);
    border-color: var(--disabled-color);
}

.button_type_primary-clear.button_disabled {
    color: var(--disabled-text-color);
    border-color: var(--disabled-color);
}
