.menu {
    position: sticky;
    top: 120px;
    width: 300px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    border-radius: 16px;
}

@media screen and (max-width: 1199px) {
    .menu {
        width: 250px;
    }
}

.menu__item {
    position: relative;
    display: flex;
    gap: 12px;
    padding: 16px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu__item:hover {
    background-color: var(--background-hover-color);
}

.menu__item:not(:last-child) {
    border-bottom: 1px solid var(--primary-color);
}

.menu__item_selected {
    padding-left: 24px;
    color: var(--primary-color);
}

.menu__item_selected::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 4px;
    height: 30px;
    content: "";
    background-color: var(--primary-color);
    border-radius: 0 4px 4px 0;
    transform: translateY(-50%);
}
