.order-create {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
}

@media screen and (max-width: 991px) {
    .order-create {
        gap: 16px;
        padding-top: 16px;
        padding-bottom: 60px;
    }
}

.order-create__content {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 1199px) {
    .order-create__content {
        gap: 20px;
    }
}

@media screen and (max-width: 991px) {
    .order-create__content {
        flex-direction: column;
        gap: 12px;
    }
}

.content__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(70% - 20px);
}

@media screen and (max-width: 1199px) {
    .content__main {
        gap: 12px;
        width: calc(70% - 10px);
    }
}

@media screen and (max-width: 991px) {
    .content__main {
        width: 100%;
    }
}

.content__side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(30% - 20px);
}

@media screen and (max-width: 1199px) {
    .content__side {
        width: calc(30% - 10px);
    }
}

@media screen and (max-width: 991px) {
    .content__side {
        width: 100%;
    }
}

.block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 30px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}

@media screen and (max-width: 565px) {
    .block {
        padding: 12px 16px 16px;
    }    
}

:host ::ng-deep .block__title h3,
:host ::ng-deep .side-block__title h3 {
    font-weight: 700;
}

.main__auth {
    padding: 20px 30px;
    background-color: var(--secondary-background-color);
    border: 0;
}

@media screen and (max-width: 565px) {
    .main__auth {
        padding: 12px 16px 16px;
    }
}

.contacts__inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputs__row {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 565px) {
    .inputs__row {
        flex-direction: column;
        gap: 12px;
    }
}

.products__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.products__edit-link {
    text-align: right;
}

.delivery__options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.options__item-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 16px;
}

.options__item-radio {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}

@media screen and (max-width: 565px) {
    .options__item-radio {
        padding: 8px;
    }
}

.item-radio__price {
    text-align: right;
}

@media screen and (max-width: 767px) {
    .item-radio__price {
        font-size: 12px;
    }
}

.options__item-wrapper_active {
    border: 2px solid var(--border-color);
}

.options__item-more {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 20px 20px;
}

.item-more__row {
    display: flex;
    gap: 8px;
}

.item-more__recipient {
    flex-direction: column;
}

.np-row:first-child {
    margin-top: 28px;
    margin-bottom: -10px;
}

.np-row__input {
    width: 100%;
}

@media screen and (max-width: 565px) {   
    .np-row {
        flex-direction: column;
    }
}

.floor-row {
    gap: 24px;
    align-items: center;
}

.floor-input {
    width: 100px;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox-wrapper span {
    font-size: 12px;
}

.recipient__row {
    display: flex;
    gap: 12px;
}

.side__payment {
    position: sticky;
    top: 110px;
    gap: 16px;
    padding: 16px 0 20px;
    background-color: var(--secondary-background-color);
    border: 0;
}

@media screen and (max-width: 991px) {
    .side__payment {
        position: static;
    }
}

.side-block__title,
.side-block__confirm {
    padding: 0 30px;
}

.payment__price {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 16px 30px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.price__row,
.confirm__total {
    display: flex;
    justify-content: space-between;
}

.total__total-price {
    font-size: 18px;
    font-weight: 700;
}

.total__description {
    font-size: 12px;
    color: var(--primary-color);
}

.price-currency {
    font-size: 12px;
    opacity: 0.5;
}

.payment__confirm {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
    max-height: 40px;
}

:host ::ng-deep .mdc-notched-outline .mdc-notched-outline__notch {
    border-top: 1px solid;
    border-left: none !important;
}

:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
    border-color: var(--primary-color) !important;
}

:host ::ng-deep .mat-mdc-notch-piece.mdc-notched-outline__leading {
    width: 20px !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

:host ::ng-deep .mat-mdc-notch-piece.mdc-notched-outline__trailing {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--focused .mdc-floating-label {
    margin-top: -1px;
    color: var(--primary-text-color) !important;
}

:host ::ng-deep .mat-mdc-floating-label {
    transform: translateY(-3.5em) !important;
}

:host ::ng-deep .mat-mdc-form-field-infix {
    min-height: 40px;
    padding: 8px 0 !important;
}

:host ::ng-deep .mat-mdc-input-element::placeholder {
    color: var(--gray-text-color) !important;
    opacity: 1 !important;
}

:host ::ng-deep .mat-mdc-input-element:disabled::placeholder {
    filter: brightness(1.4);
}